<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   </head>
<body ng-app="app">

    <div ng-controller='PostsCtrl' class="container">
        <h1>Recent Posts</h1>
        <input ng-model='postBody' class="form-control"/>
        <button ng-click='addPost()' class="btn btn-default">Add Post</button>
        <ul class="list-group">
            <li ng-repeat='post in posts' class="list-group-item">
                <strong>@{{ post.username }}</strong>
                <span>{{ post.body }}</span>
            </li>

        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script>
        var myApp = angular.module('app',[ ] );

        // create the PostCtrl controller  module and dependency inject $scope
        myApp.controller('PostsCtrl', function ($scope, $http) {

            // retrieve posts data from db upon this file being loaded via "/" route on server

            $http.get('http://localhost:3030/api/posts').success(function(posts) {
                console.log("Received posts:");
                console.log(posts);
                $scope.posts = posts;
            }, function ( error ) {
                console.log("error");
            });






          $scope.posts = [
              {
                  _id : "",
                  username: 'static dickeyxxx',
                  body: 'Node Rules!!!!'
              }
          ];


            $scope.addPost = function () {
                if ($scope.postBody ) {
                    $scope.posts.unshift({
                        username: 'dickeyxxx' ,
                        body: $scope.postBody
                    })
                }
                $scope.post.body = null;
            }

        })
    </script>

</body>
</html>